
        <!-- ============================================== INFO BOXES ============================================== -->
        <div class="row our-features-box">
          <div class="container">
           <ul>
             <li>
               <div class="feature-box">
                 <div class="icon-truck"></div>
                 <div class="content-blocks">We ship worldwide</div>
               </div>
             </li>
             <li>
               <div class="feature-box">
                 <div class="icon-support"></div>
                 <div class="content-blocks">call 
                   +1 660 225 1011</div>
               </div>
             </li>
             <li>
               <div class="feature-box">
                 <div class="icon-money"></div>
                 <div class="content-blocks">No Money Back</div>
               </div>
             </li>
             <li>
              <div class="feature-box">
                <div class="icon-return"></div>
                <div class="content-blocks">24/7 active</div>
              </div>
            </li>
             
           </ul>
         </div>
       </div>
             <!-- /.info-boxes --> 
             <!-- ============================================== INFO BOXES : END ============================================== --> 
     
     <!-- ============================================================= FOOTER ============================================================= -->
     <footer id="footer" class="footer color-bg">
       <div class="footer-bottom">
         <div class="container">
           <div class="row">
             <div class="col-xs-12 col-sm-6 col-md-4">
             <div class="address-block">
             
               <!-- /.module-heading -->
               
               
             <!-- /.col -->
             
             
             
        
             <!-- /.col -->
             
           
           </div>
           <br>
           <br>
         </div>
       </div>
   
     </footer>
     <!-- ============================================================= FOOTER : END============================================================= --> 
     
     <!-- For demo purposes – can be removed on production --> 
     
     <!-- For demo purposes – can be removed on production : End --> 
     
     <!-- JavaScripts placed at the end of the document so the pages load faster --> 

